header {
    position: sticky;
    width: 100vw;
    height: 87px;
    left: 0px;
    top: 0px;
    background: black;
}

#content {
    width: 791px;
    height: 546px;
}

#end-text {
    background-color: black;
    color: white;
    padding: 12px 48px 13px 40px;
    font-size: 24px;
    line-height: 29px;
    width: 226px;
    height: 33px;
    text-align: center;
    top: 662px;
}

h1 {
    margin-top: 0px;
    font-size: 64px;
    font-weight: 400px;
}

p {
    font-size: 24px;
    font-weight: 300px;
    line-height: 29px;
}

.right {
    position: absolute;
    margin-left: 953px;
}

nav div {
    margin: 29px 38px;
    display: inline-block; 
}

a {
    margin: 29px 38px;
    text-decoration: none;
    color: white;
    font-size: 24px;
}

#image img {
    width: 729px;
    height: 911px;
}

#image {
    margin-right: 77px;
}



#description {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    padding: 53px;
}

#flex-box h1{
    margin-left: 53px;
}

#images {
    margin-left: 53px;
}



#images img{
    width: 498.42px;
    height: 447.57px;
    top: 1301px;
    padding: 53px;
}

#images {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    justify-content: space-between;
}